# Dependencies
node_modules

# Next.js build artifacts
.next
out
.next/cache

# Tests / coverage
coverage
storybook-static

# Logs
*.log

# VCS
.git
.gitignore

# IDE
.idea
.vscode
*.swp

# OS
.DS_Store

# Misc
.env.local
.env.test
.env.development.local
.env.production.local
